@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>左侧页</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <script src="~/Scripts/MyJs/My97DatePicker/WdatePicker.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
    
</head>
<body>
    @using (Ajax.BeginForm("LeftToList", "StudentsAttendanceManagement", new AjaxOptions() { HttpMethod = "Post" }, new { id = "form1", target = "frmright" }))
    {
        <div>
            <table cellpadding="1" cellspacing="1" class="qryTable">

                <tr>
                    <td>学员姓名：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="StudentsRealName" name="StudentsRealName" style="height:17px;width:150px;" />
                    </td>
                </tr>

                <tr>
                    <td>
                        类型：
                        <select id="AttendanceCategory" name="AttendanceCategory" style="width: 80px;height:22px;">
                            <option value="">==请选择==</option>
                            <option value="正常签到">正常签到</option>
                            <option value="事假">事假</option>
                            <option value="病假">病假</option>
                            <option value="其他假">其他假</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>开始日期：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="FirstDate" name="FirstDate" style="width: 150px; height: 17px;" onclick="WdatePicker({ position: { left: -10, top: 0 },maxDate: '%y-%M-%d' });" />
                    </td>
                </tr>
                <tr>
                    <td>结束日期：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="LastDate" name="LastDate" style="width: 150px; height: 17px;" onclick="WdatePicker({ position: { left: -10, top: 0 } , maxDate: '%y-%M-%d' });" />
                    </td>
                </tr>
                <tr>
                    <td>请假天数：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="Days" name="Days" style="width: 150px; height: 17px;" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="text-align:center;">
                            <input type="submit" id="Submit1" name="Submit2" value="查询" style="width:50px;height:25px;" />
                            <input type="button" name="Submit2" value="重置" class="button" onclick="form1.reset();" style="width:50px;height:25px;" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
</body>
</html>
