@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>左侧页</title>
    <script src="~/Scripts/MyJs/global.js"></script>
    <script src="~/Scripts/MyJs/My97DatePicker/WdatePicker.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
</head>
<body>
    @using (Ajax.BeginForm("LeftToList", "BigMedicalRecords", new AjaxOptions() { HttpMethod = "Post" }, new { id = "form1", target = "frmright" }))
    {
        <div>
            <table cellpadding="1" cellspacing="1" class="qryTable">

                <tr>
                    <td>轮转科室：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="DeptName" name="DeptName" style="height:17px;width:150px;" />
                    </td>
                </tr>
                <tr>
                    <td>指导医师：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="TeachersRealName" name="TeachersRealName" style="height: 17px; width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td>登记日期：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="RegisterDate" name="RegisterDate" style="height: 17px; width: 150px;" onclick="WdatePicker({ maxDate: '%y-%M-%d' });" />
                    </td>
                </tr>
                <tr>
                    <td>病人姓名：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="PatientName" name="PatientName" style="height: 17px; width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td>门诊号：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="PatientNo" name="PatientNo" style="height: 17px; width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td>住院号：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="InhospitalNo " name="InhospitalNo" style="height: 17px; width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="text-align:center;">
                            <input type="submit" id="Submit1" name="Submit2" value="查询" style="width:50px;height:25px;" />
                            <input type="button" name="Submit2" value="重置" class="button" onclick="form1.reset();" style="width:50px;height:25px;" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
</body>
</html>
