@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>左侧页</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <script src="~/Scripts/MyJs/My97DatePicker/WdatePicker.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />

</head>
<body>
    @using (Ajax.BeginForm("LeftToList", "StudentsDiseaseRegister", new AjaxOptions() { HttpMethod = "Post" }, new { id = "form1", target = "frmright" }))
    {
        <div>
            <table cellpadding="1" cellspacing="1" class="qryTable">

                <tr>
                    <td>学员姓名：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="students_real_name" name="students_real_name" style="height:17px;width:150px;" />
                    </td>
                </tr>

                <tr>
                    <td>病种名称：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="disease_name" name="disease_name" size="25" />
                    </td>
                </tr>
                <tr>
                    <td>要求例数：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="required_num" name="required_num" size="25" />
                    </td>
                </tr>
                <tr>
                    <td>掌握程度：</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="master_degree" name="master_degree" size="25" />
                    </td>
                </tr>   

                <tr>
                    <td>
                        <div style="text-align:center;">
                            <input type="submit" id="Submit1" name="Submit2" value="查询" style="width:50px;height:25px;" />
                            <input type="button" name="Submit2" value="重置" class="button" onclick="form1.reset();" style="width:50px;height:25px;" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
</body>
</html>
