@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>头部</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
     
</head>
<body>
    <table class="listTableHead" cellspacing="0" cellpadding="0" style="width:100%">
        <tr>
            <td class="listTableHeadTR" style="height: 22px;" width="20%">
                <img height="16" src="/images/imgs/Query.gif" width="16" style="vertical-align: middle" />满意度调查反馈问卷统计
            </td>

        </tr>
    </table>
</body>
</html>
